<h1>Edit {{ bookTitle.value }}</h1>
<div class="form">
    <div class="form-row">
        <label class="form-label" for="title">Title:</label>
        <input class="form-input" name="title" id="title" type="text" [formControl]="bookTitle" />
    </div>
    <div class="form-row">
        <label class="form-label" for="author">Author:</label>
        <input class="form-input" name="author" id="author" type="text" [formControl]="bookAuthor" />
    </div>
    <div class="form-row">
        <label class="form-label" for="upload">Upload File:</label>
        <input class="form-input" name="upload" id="upload" type="file" (change)="handleFileUpload($event)" accept="image/png,image/jpeg" />
        
    
    </div>
    <div class="form-row">
        <img class="form-input" *ngIf="fileToUpload != undefined || fileToUpload != null" class="preview-img" [src]="fileToUpload" alt="Upload file preview"/>
    </div>
    <div class="form-row">
        <button (click)="EditBook()">Submit</button>
    </div>
</div>



